* {
  margin: 0;
  background-color: black;
  color: white;
}

a {
  border-radius: 15px;
}

button {
  border: 1px solid white;
  border-radius: 15px;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-bottom: 2vh;
  border-radius: 15px;
}
