.about-page {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ways-to-play {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid white;
  border-radius: 15px;
  background: linear-gradient(-45deg, #7800b0, #02d4e3, #f7f302, #d60408);
}

.about-p {
  margin: 2vw;
}

.prompt-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1vw;
  padding: 2vw;
  border: 1px solid white;
  border-radius: 15px;
}

.focus-q {
  font-weight: bold;
  font-style: italic;
}

.card-p {
  margin-bottom: 1vw;
}

@media screen and (max-width: 480px) {


  .ways-to-play {
    display: flex;
    flex-direction: column;
  }
}
