.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1vw;
  border: 1px solid white;
  border-radius: 15px;
  max-width: 30vw;
}

.gender-card {
  margin: 2vw;
  width: 26vw;
}

.no-gender {
  width: 30vw;
  border-radius: 15px;
}
