.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1vw;
  padding: 1vw;
  border: 1px solid white;
  border-radius: 15px;
  max-width: 30vw;
}

.card-outline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5vw;
  border-radius: 15px;
  border: 1px solid white;
  width: 25vw;
  height: 95%;
  background: linear-gradient(-45deg, #f7f302, #d60408, #7800b0, #02d4e3);
}

.gender-card {
  padding: 1vw;
  width: 23vw;
  height: 95%;
  border-radius: 15px;
  border: 1px solid white;
}

.no-gender {
  width: 30vw;
  border-radius: 15px;
}

@media screen and (max-width: 480px) {
  .card-container {
    max-width: none;
    width: 80vw;
    height: 20vh;
  }

  .card-outline {
    width: 75vw;
  }

  .gender-card {
    width: 70vw;
  }
}
