.header-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 2vw;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 2vh;
  padding: 2vw;
  width: 60vw;
  min-height: 75px;
  border: 1px solid white;
  border-radius: 15px;
  font-size: .75em;
  background: linear-gradient(-45deg, #d60408, #7800b0, #02d4e3, #f7f302);
}

.button-container {
  margin-top: 2vh;
  background-color: transparent;
  border-radius: 15px;
}

.page-heading {
  width: 55vw;
  padding: 1vw;
  border: 1px solid white;
  border-radius: 15px;
}

@media screen and (max-width: 770px) {
  .header {
    width: 90vw;
    font-size: 1em;
  }

  .page-heading {
    width: 80vw;
  }
}
