.header-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 2vw;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 1vh;
  padding: .5vw 2vw;
  width: 65vw;
  min-height: 60px;
  border: 1px solid white;
  border-radius: 15px;
  font-size: .75em;
  background: linear-gradient(-45deg, #d60408, #7800b0, #02d4e3, #f7f302);
}

.button-container {
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-color: transparent;
  border-radius: 15px;
}

.link-btn {
  font-size: 1.5em;
}

.page-heading {
  width: 50vw;
  padding: 1vw;
  border: 1px solid white;
  border-radius: 15px;
}

@media screen and (max-width: 900px) {
  .header {
    width: 90vw;
    font-size: 1em;
  }

  .page-heading {
    width: 80vw;
  }

  .link-btn {
    font-size: 1.1em;
  }
}
