.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 2vw;
}

.resources {
  margin: 5vw;
  font-size: .75em;
}

.github-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .footer-content {
    font-size: 1.5em;
  }
}
